.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Very-Dark-Blue);
  color: white;
  text-align: center;
}

.footer__logo{
  padding-top: 3em;
  width: 40%;
}

.footer__item {
  padding: 1em;
}

.link__title {
  padding: 1em 0;
  font-size: 1.3em;
  font-weight: 700;
}

.link__item-link {
 color: var(--Gray-Clean);
 line-height: 2em;
  
}

.footer__social {
  padding: 3em;
}

.social__img {
  padding: 0 1em;
}
.attribution {
  padding: 1em;
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media screen and (min-width: 1024px){
    .footer {
      flex-direction: row;
      align-items: start;
      justify-content: space-around;
      
    }

    .footer__logo {
      width: auto;
    }

  }

  @media screen and (min-width: 1440px){
    .footer {
      flex-direction: row;
      align-items: start;
      justify-content: space-around;
      
    }

    .footer__logo {
      width: auto;
    }

  }