.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.menu__desktop {
    display: none;   
}

.menu__button {
    border: none;
    background-color: transparent;
}

.login__button {
    padding: 0em 1em;
    height: 50px;
    border-radius: 50px;
    background-color: var(--Cyan);
    color: white;
    font-weight: 600;
    border: none;
}

.login {
    display: none;
}

@media screen and (min-width: 1024px) {
    .header {
        justify-content: flex-start;
        align-items: center;
        padding: 4em 6em;
    }

    .menu__mobile {
        display: none;
    }

    .menu__desktop {
        display: block;
        margin-right: 3em;
    }
    .descktop__link {
        padding: 1.5em;
        color: var(--Grayish-Violet);
    }

    .login {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
} 


@media screen and (min-width: 1440px) {
    .header {
        justify-content: flex-start;
        align-items: center;
        padding: 4em 6em;
    }

    .menu__mobile {
        display: none;
    }

    .menu__desktop {
        display: block;
        margin-right: 3em;
    }
    .descktop__link {
        padding: 1.5em;
        color: var(--Grayish-Violet);
    }

    .login {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
}