.primary {
    text-align: center;
    padding: 1em;
}


.primary__title {
    padding: .5em 0;
    font-size: 2.6em;
    font-weight: 700;
}

.primary__description {
    margin-bottom: 2em;
    color: var(--Gray);
    line-height: 1.4em;
}

.primary__button {
    padding: .8em 2em;
    border-radius: 50px;
    background-color: var(--Cyan);
    color: white;
    font-weight: 600;
}

@media screen and (min-width: 1024px) {
    .primary {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 6em;
    }
    
    .primary__image {
        position: relative;
        left: 200px;
    }


    .primary_content {
        width: 100%;
        text-align: left;
    }

    .primary__title {
        width: 100%;
        font-size: 2.6em;
    }
    .primary__description{
        width: 100%;
        padding-bottom: 1em;
        
    }
}

@media screen and (min-width: 1440px) {
    .primary {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 6em;
    }

    .primary_content {
        text-align: left;
    }

    .primary__title {
        width: 80%;
        font-size: 3.6em;
    }
    .primary__description{
        width: 50%;
        padding-bottom: 1em;
        
    }
}